* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 5px;
}

#menu * {
    width: 100%;
    gap: 0.5rem;
}

.row {
    display: flex;
    gap: 0.5rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button,
.button,
textarea {
    border: none;
    background-color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    resize: none;
}

button:hover,
.button:hover {
    background: gray;
}

.button {
    text-decoration: none;
    color: black;
}

#carCanvas {
    background-color: lightgray;
}
#networkCanvas {
    background-color: black;
}

.instances {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.instances label {
    white-space: nowrap;
}

.instances textarea {
    height: 1.8em;
}
